/*-----------------------------------------------------------------------------------
	    lina_site
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

#page-loading-blocs-notifaction{position: absolute;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}

/* Sizes */

.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}


/* Group Styles */

.bloc-group{
    text-align: center;
    margin:0 auto;
    width:auto;
    display:table

}
.bloc-group .bloc{
	position:relative;
	display: table-cell;
	vertical-align: top;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Background Styles */
/* I have set to be on mobile size only */
@media (max-width:767.9px) {
	.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
		-webkit-background-size: auto!important;
		-moz-background-size: auto!important;
		-o-background-size: auto!important;
		background-size: auto!important;
	}
	.bg-b-edge{
		background: bottom no-repeat;
	}
	.bg-l-edge{
		background: left no-repeat;
	}
	.bg-r-edge{
		background: right no-repeat;
	}
}

/* Background Effects */

.b-parallax{
	background-attachment:fixed;
}

/* Text Colour */
h1,h2,h3,h4,h5,h6,p,label,.btn{
	color:#333137;
}

/* Links */

a{
	color:rgba(0,0,0,.6);
}
a:hover
{
	color:rgba(0,0,0,1);
}
a.nav
{
	color:rgba(0,0,0,1);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}

#bloc-index-exhibition-desktop {
	margin-left: auto;
	margin-right: auto;
}

/* Desktop Navbar */
.nav-grid{
	display: grid;
	grid-template-columns: 1fr 10px 3fr;
	padding: 10px 50px;
}
.nav-sig-container{
	grid-column: 1 / 2;
	justify-self: start;
	align-self: center;
}
img.nav-sig{
	max-height: 25rem;
	max-width: 100%;
}
.nav-menu{
	grid-column: 3 / 3;
	justify-self: end;
	align-self: center;
	font-size: 1.5vw;
}
a.nav-text{
	color: black;
}

/* Index Menu */
.index-text-menu{
	font-size: 1.5rem;
	text-align: center;
}

.index-text-menu > li{
	position: relative;
	display: inline-block;
	padding: 1rem;
	text-align: center;
}

/* = NavBar
-------------------------------------------------------------- */

.nav{
	font-size:1.375rem;
}

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		-webkit-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translate(0, -50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:2rem!important;
}
.icon-lg{
	font-size:3.5rem!important;
}

/* = Text Widths
-------------------------------------------------------------- */
/* TODO: text-w-80 is the only text-w-, and these are only used in the next two definitions.  It is only used on the homepage.  Worth looking into further for simplification/renaming.*/
.text-w-80{
	max-width:80%;
}
.text-center.text-w-sm, .text-center.text-w-md, .text-center.text-w-lg, .text-center.text-w-90, .text-center.text-w-80, .text-center.text-w-70, .text-center.text-w-60, .text-center.text-w-50{
	margin-left: auto;
	margin-right: auto;
}

/* = Lists
-------------------------------------------------------------- */
.list-horizontal-layout li{
	float:left;
	margin:0 10px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:2rem;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	-moz-animation-fill-mode: none;
	animation-fill-mode:none;
}
.next-lightbox, .prev-lightbox{
	display: inline-block;
	width:0;
	height:0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	transition: all .2s ease-in-out;
	position: absolute;
	top:50%;
}
.next-lightbox{
	right:25px;
	border-left: 20px solid rgba(255,255,255,.4);
}
.prev-lightbox{
	left:25px;
	border-right:20px solid rgba(255,255,255,.4);
}
.prev-lightbox:hover, .next-lightbox:hover{
	border-right-color:rgba(255,255,255,.9);
	border-left-color:rgba(255,255,255,.9);
}

/* Dark */
.dark-lb{
	background:#1F272A;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"helvetica";
	font-weight:300;
	background-position:left center;
	display:block;
	text-align:left;
	line-height: 1.5;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2.25rem;
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.5rem;
}
h6{
	font-size: 1.5rem;
}
p{
	font-size: 1.5rem;
}
.container{
	max-width:1024px;
}
.subtitle{
	letter-spacing:1px;
}
.over-image-title-text{
	text-align:center;
	font-weight:bold;
	color:#FEFFFF;
	font-family:"helvetica";
	text-shadow:1px 2px 6px rgba(2,2,2,0.8);
	margin-left:20px;
	margin-top:30px;
}
.padding-footer{
	padding-left:145px;
}
.icon-padding{
	padding-left:25px;
	padding-top:10px;
	overflow:visible;
	float:none;
	display:block;
}
.footer-tablet-padding{
	padding-left:75px;
}
.list-container{
	width:706px;
	text-align:left;
}
.paragraph-contact{
	margin-bottom:50px;
}
.labels-form{
	text-align:left;
	font-size:1.25rem;
}
.pad-top-nav{
	padding-top:5px;
}
.list-container{
	float:right;
	display:block;
	overflow:visible;
	text-align:left;
}
.sig-mainmenu{
	padding-top:30px;
}
.mm-links-mobile{
	font-size:2rem;
	font-weight:bold;
	text-shadow:1px 2px 6px rgba(1,1,1,0.8);
	margin-left:20px;
	margin-top:30px;
}
.bloc-width{
	height:50px;
}
.row-move-down{
	padding-top:20px;
}
.no-horiz-padding{
	padding-left:0;
	padding-right:0;
}

div.button-link{
	border: 2px solid;
	border-radius: 25px;
	line-height: normal;
}

a.button-link{
	line-height: normal;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 2px 6px rgba(150,150,150,0.8);
	font-size: 2.25rem;
	margin-top: 30px;
	margin-bottom: 30px;
}
a.button-link:hover{
	color:#999999!important;
}
@media (max-width: 767.9px){
	a.button-link{
		font-size:2rem;
	}
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-main-bg{
	background-color:#FEFFFF;
}
.bgc-accent-bg{
	background-color:#DEDFE4;
}
.bgc-navbar{
	background-color:#B9BABE;
}
.bgc-avail-works{
	background-color:#CCCCCC;
}

/* Text colour styles */
.tc-white{
	color:#FEFFFF!important;
}

/* Button colour styles */
.submit-button-color{
	background:#333237;
	color:#FFFFFF!important;
}
.socialmedia-icon-color{
	color:#333237!important;
	border-color:#333237!important;
}
.submit-button-color:hover{
	background:#29282c;
	color:#FFFFFF!important;
}

/* Link colour styles */
a.tc-white:hover{
	color:#cbcccc!important;
}

/* Bloc image backgrounds */

.bg-field{
	background-image:url("img/hires/field.jpg");
}
.bg-14585592-10101387148945095-1005077133-o{
	background-image:url("img/hires/14585592_10101387148945095_1005077133_o.jpg");
}
.bg-IMG-5404{
	background-image:url("img/hires/IMG_5404.jpg");
}
.bg-IMG-20160916-123910{
	background-image:url("img/hires/IMG_20160916_123910.jpg");
}
.bg-IMG-20151025-165811{
	background-image:url("img/hires/IMG_20151025_165811.jpg");
}
.bg-IMG-3191{
	background-image:url("img/hires/IMG_3191.jpg");
}
.bg-View-of-the-Ottawa-River-bckgrnd{
	background-image:url("img/hires/View_of_the_Ottawa_River_bckgrnd.jpg");
}
.bg-Before-the-Storm{
	background-image:url("img/hires/Before_the_Storm.jpg");
}
.bg-High-Falls-bckgrnd{
	background-image:url("img/hires/High_Falls_bckgrnd.jpg");
}
.bg-Poppies-bckgrnd{
	background-image:url("img/hires/Poppies_bckgrnd.jpg");
}
.bg-Coastal-Sky-III-bckgrnd{
	background-image:url("img/hires/Coastal_Sky_III_bckgrnd.jpg");
}
.bg-Poppies{
	background-image:url("img/hires/Poppies.jpg");
}
.bg-Airport-Reflections{
	background-image:url("img/hires/Airport_Reflections.jpg");
}
.bg-Trilliums{
	background-image:url("img/hires/Trilliums.jpg");
}
.bg-Trilliums-bckgrnd{
	background-image:url("img/hires/Trilliums_bckgrnd.jpg");
}
.bg-Bougainvillea{
	background-image:url("img/hires/Bougainvillea.jpg");
}
.bg-Coastal-Sky-III{
	background-image:url("img/hires/Coastal_Sky_III.jpg");
}
.bg-Sunrise{
	background-image:url("img/hires/Sunrise.jpg");
}
.bg-Coastal-Sky{
	background-image:url("img/hires/Coastal_Sky.jpg");
}
.bg-poppies-back2{
	background-image:url("img/hires/poppies_back2.jpg");
}
.bg-coastalsky-back2{
	background-image:url("img/hires/coastalsky_back2.jpg");
}
.bg-Airport-Reflections-back2{
	background-image:url("img/hires/Airport-Reflections-back2.jpg");
}
.bg-Autumn-Wonder{
	background-image:url("img/hires/Autumn_Wonder.jpg");
}
.bg-Greenstone-Trail-NZ{
	background-image:url("img/hires/Greenstone_Trail_NZ.jpg");
}
.bg-After-the-Storm{
	background-image:url("img/hires/After_the_Storm.jpg");
}
.bg-Through-the-Trees{
	background-image:url("img/Through_the_Trees_2020Show.jpg");
}
.bg-Sundown{
	background-image:url("img/hires/Sundown_20170912.jpg");
}
.bg-Portbou{
	background-image:url("img/hires/Portbou_Spain.jpg");
}
.bg-Huron-Shadows{
	background-image:url("img/hires/Huron_Shadows_large.jpg");
}
.bg-First-Snow-II{
	background-image:url("img/First_Snow_II.jpg");
}

/* Customizations */
.painting-text h2{
	font-size: 2.5rem;
}
.painting-text h3{
	font-size: 1.25rem;
}
.painting-text p{
	font-size: 1rem;
}

.banner h1{
	font-family: Helvetica;
	font-size: 5rem;
}

@media (max-width:767.9px) {
	.banner h1{
		font-size: 3rem;
	}
}

/* Image Handling */
img.landscape {
	width: 229px;
	height: 151px;
}

img.portrait {
	width: 229px;
	height: 329px;
}

@media screen and (min-width: 768px) and (max-width: 991.9px)
{
	img.landscape {
		width: 145px;
		height: 97px;
	}

	img.portrait {
		width: 145px;
		height: 228px;
	}
}

@media screen and (max-width: 767.9px)
{
	img.landscape, img.portrait {
		width: 90%;
		height: auto;
		max-height: 70vh; /*change to 70vh once overflow issue fixed*/
		object-fit: cover;
	}

	img.portrait {
		max-width: 50vh;
	}
	/*
	img.portrait {
		width: 90%;
		height: auto;
		max-height: 70vh; /*change to 70vh once overflow issue fixed
		object-fit: cover;
	}*/

	.portrait, .landscape {
		overflow: hidden;
		position: relative;
	}
}

/* = Mobile adjustments
-------------------------------------------------------------- */
@media (max-width: 1024.9px)
{
    .bloc{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 767.9px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}

    .page-container {	/* Prevent unwanted side scroll on mobile */
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important;
        padding-right:10px!important;
    }
    .bloc{
        padding-left: 0;
        padding-right: 0;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   -webkit-transform:none;
	   -ms-transform:none;
	   -o-transform:none;
	   -moz-transform:none;
	   transform:none;
    }
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }

    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0;
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 30px;
        margin-bottom: 30px;
       	font-size:0.9rem;
    }
}

@media (max-width: 767.9px)
{
	a, .mobile a
	{
		text-shadow:0 0 0 rgba(0,0,0,0.0);
		float:none;
		display:block;
		overflow:visible;
	}

	.mainmenu-floral, .mobile .mainmenu-floral
	{
		text-align:center;
	}

	.row-move-down, .mobile .row-move-down
	{
		padding-top:10px;
	}
}
@media (max-width: 420.9px)
{
	h1,h2,h3,h4,h5,h6,p,label,.btn,a
	{
	text-align:center;
	background-position:left center;
	float:none;
	border-style:none;
	}

	label
	{
	font-size:2rem;
	}
	.list-dimensions
	{
	text-align:center;
	font-weight:bold;
	}
}

.hidden-all{
	display:none!important;
	}